.result {
    background-color: 	rgb(255, 232, 208);
    height: 180px;
    width: 180px;
    margin: 15px;
    padding: 50px;
    float: left;
    border-radius: 50%;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

body {
    background-image: url('tatooine.png'), url('tatooine2.png');
    background-size: 100%;
    font-family: 'Exo 2', sans-serif;
    padding-left: 30px;
    padding-top: 10px;
    background-repeat: no-repeat, repeat;
}

a {
    color: #4B3937;
}

a:hover {
    color: 	#F8D591;
}

h1 {
    font-size: 100px;
    margin: 0px;
    color: rgb(37, 28, 27);
}

h2 {
    font-size: 50px;
    margin: 0px;
    color: rgb(37, 28, 27);
}

nav {
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

.name {
    font-size: 150%;
    font-weight: bold;
}