<div ng-repeat="favorite in sc.favorites.list" ng-if="favorite.birth_year">
    <div class="display">
        <div class="name">{{favorite.name}}</div>
        Born: {{favorite.birth_year}}
        <br>
        Gender: {{favorite.gender}}
        <br>
        Hair Color: {{favorite.hair_color}} 
        <br>
        <button class="button" ng-click=sc.deleteFavorite(favorite)>Remove</button>
    </div>
</div>

<div ng-repeat="favorite in sc.favorites.list" ng-if="favorite.climate"> 
    <div class="display">
        <div class="name">{{favorite.name}}</div>
        Climate: {{favorite.climate}} 
        <br>
        Terrain: {{favorite.terrain}}
        <br>
        <button class="button" ng-click=sc.deleteFavorite(favorite)>Remove</button>
    </div>
 </div>

<div ng-repeat="favorite in sc.favorites.list" ng-if="favorite.average_height"> 
    <div class="display">
        <div class="name">{{favorite.name}}</div>
        Class: {{favorite.classification}}
        <br>
        Avg Height: {{favorite.average_height}}
        <br>
        Language: {{favorite.language}}
        <br>
        <button class="button" ng-click=sc.deleteFavorite(favorite)>Remove</button>
    </div>
</div>

<div ng-repeat="favorite in sc.favorites.list" ng-if="favorite.crew"> 
    <div class="display">
       <div class="name">{{favorite.name}}</div>
        Crew: {{favorite.crew}}
        <br>
        Class: {{favorite.starship_class}}
        <br>
        <button class="button" ng-click=sc.deleteFavorite(favorite)>Remove</button>
    </div>
</div>