<select ng-model="sc.SWAPISearch.topic">
    <option value="">Select a topic</option>
    <option value="people">People</option>
    <option value="planets">Planets</option>
    <option value="species">Species</option>
    <option value="starships">Starships</option>
</select>
<input ng-model="sc.SWAPISearch.keyword" type="text" placeholder="Keyword">
<button ng-click="sc.getSwapi(sc.SWAPISearch)">Search</button>
<br>
<br>
<div ng-repeat="result in sc.searchResult.list" ng-if="result.birth_year">
    <div class="display">
        <div class="name">{{result.name}}</div>
        Born: {{result.birth_year}}
        <br>
        Gender: {{result.gender}}
        <br>
        Hair Color: {{result.hair_color}} 
        <br>
        <button class="button" ng-click="sc.favoriteResult(result)">&#128188</button>
    </div>
</div>

<div ng-repeat="result in sc.searchResult.list" ng-if="result.climate"> 
    <div class="display">
        <div class="name">{{result.name}}</div>
        Climate: {{result.climate}} 
        <br>
        Terrain: {{result.terrain}}
        <br>
        <button class="button" ng-click="sc.favoriteResult(result)">&#128188</button>
    </div>
 </div>

<div ng-repeat="result in sc.searchResult.list" ng-if="result.average_height"> 
    <div class="display">
        <div class="name">{{result.name}}</div>
        Class: {{result.classification}}
        <br>
        Avg Height: {{result.average_height}}
        <br>
        Language: {{result.language}}
        <br>
        <button class="button" ng-click="sc.favoriteResult(result)">&#128188</button>
    </div>
</div>

<div ng-repeat="result in sc.searchResult.list" ng-if="result.crew"> 
    <div class="display">
        <div class="name">{{result.name}}</div>
        Crew: {{result.crew}}
        <br>
        Class: {{result.starship_class}}
        <br>
        <button class="button" ng-click="sc.favoriteResult(result)">&#128188</button>
    </div>
</div>